* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blacks {
  color: #424761;
}

.greys {
  color: #8C8F9C;
}

.whites {
  color: #F2EFEB;
}

.purples {
  color: #743C7A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2EFEB;
}

.navbar-lg-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
}

.navbar-lg-hidden button {
  width: 50px;
  border: none;
  margin-left: 15px;
  border-radius: 5px;
}

.navbar-lg-hidden button:hover {
  background-color: white;
}

.navbar-lg-hidden img {
  width: 250px;
  margin-left: 50px;
}

.onclickshow {
  display: none;
  position: fixed;
  z-index: 999;
  left: 230px;
  top: 10px;
  background-color: white;
  color: #424761;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.logo {
  display: block;
  width: 170px;
  padding-bottom: 20px;
  margin-left: 10px;
}

.sidenav {
  width: 45%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F2EFEB;
  overflow-x: hidden;
  padding: 10px;
  display: none;
}

/* The navigation menu links */
.sidenav a.special {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2em;
  color: #424761;
  display: block;
  border-radius: 10px;
  font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a.special:hover {
  color: #743C7A;
  background-color: #FAF7F3;
}

.sidenav a.active {
  color: #743C7A;
  background-color: #FAF7F3;
}

.main {
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.blog {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.blog-post {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
}

.blog-post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}

.blog-post .title {
  margin-left: 10px;
  font-weight: 500;
  color: #8C8F9C;
  text-transform: capitalize;
}

.blog-post .title a {
  font-weight: 400;
  font-size: .8em;
  color: #8C8F9C;
  text-transform: capitalize;
  text-decoration: none;
}

.blog-post .title a:hover {
  text-decoration: underline;
}

.column {
  display: block;
  width: 100%;
  position: relative;
  padding: 20px;
  margin-top: 70px;
}

.column .row {
  position: relative;
  margin-top: -20px;
}

.column a {
  text-decoration: none;
  color: #8C8F9C;
  font-size: .7em;
}

.column a:hover {
  text-decoration: underline;
}

.tips {
  font-size: .8em;
  font-weight: 500;
  padding-top: 10px;
}

.announcement {
  background-color: white;
  border-radius: 10px;
}

.about {
  background-color: white;
  border-radius: 10px;
}

.main {
  min-height: 1000px;
  overflow: auto;
  padding-right: 0;
  margin-right: 0;
}

.main .title {
  font-weight: 600;
}

hr {
  margin-top: -10px;
  border: 1px solid #E7E3DF;
}

a.read-more {
  position: relative;
  display: block;
  bottom: 0;
  right: 10px;
  text-align: right;
}

a.read-more:hover {
  text-decoration: none;
  color: #743C7A;
}

.mini-icon-sdg {
  position: relative;
  z-index: 9;
  display: block;
  width: 40px;
  top: 0;
  right: 0;
  border-radius: 10px;
  margin-left: auto;
  margin-top: -55px;
}

.hidden {
  display: none;
}

.rows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
}

.btn-purples {
  background-color: #743C7A;
}

.btn-purples:hover {
  background-color: #8C8F9C;
}

.hidden-tentang,
.hidden-misi {
  display: none;
}

.read-more {
  cursor: pointer;
}

.hidden-img {
  width: 100%;
  display: none;
}

.bottom {
  position: absolute;
  display: block;
  bottom: 5px;
}

.blog-headline {
  font-weight: 600;
}

.image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.image-wrapper img {
  width: 100%;
}

.main h2 {
  font-size: 3em;
  text-align: left;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.author .author-name {
  font-size: 1.2em;
  font-weight: 600;
  margin: 3px 10px;
}

.author .author-image-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.author .author-image-wrapper img {
  width: 40px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.first-letter {
  font-size: 2em;
  font-weight: bold;
}

.blogxx p:not(.author-name) {
  text-indent: 15px;
}

.blogxx {
  background-color: white;
  border-radius: 10px;
  margin: 30px 0;
}

.main {
  width: 100%;
  height: auto;
}

.activesss {
  font-weight: bold;
  color: #F2EFEB;
  background-color: #743C7A;
  border-radius: 10px;
}

.activesss .title a {
  color: #F2EFEB;
}

.activesss img {
  border: 2px solid #F2EFEB;
}

.blog-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 500px;
}

.blog-container .blog-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

.blog-container .blog-row .blogs-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.blog-container .blog-row .blogs-item .image-item-wrapper {
  width: 100%;
  overflow: hidden;
  height: 190px;
  border-radius: 6px;
}

.blog-container .blog-row .blogs-item img {
  width: 100%;
}

.blog-container .blog-row .blogs-item a {
  color: #743C7A;
  font-weight: 600;
}

.blog-container-index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 500px;
}

.blog-container-index .blog-row-index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 5px 0;
}

.blog-container-index .blog-row-index .blogs-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #F2EFEB;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.blog-container-index .blog-row-index .blogs-item .image-item-wrapper {
  width: 100%;
  overflow: hidden;
  height: 190px;
  border-radius: 6px;
}

.blog-container-index .blog-row-index .blogs-item img {
  width: 100%;
}

.blog-container-index .blog-row-index .blogs-item a {
  color: #743C7A;
  font-weight: 600;
}

.blogxx {
  padding: 10px;
}

@media (min-width: 768px) {
  .navbar-lg-hidden {
    display: none;
  }
  /* The sidebar menu */
  .logo {
    display: block;
    width: 200px;
    padding-bottom: 20px;
  }
  .sidenav {
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2EFEB;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 80px;
    display: block;
  }
  /* The navigation menu links */
  .sidenav a.special {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2em;
    color: #424761;
    display: block;
    border-radius: 30px;
    font-weight: 600;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a.special:hover {
    color: #743C7A;
    background-color: #faf7f37e;
  }
  .sidenav a.active {
    color: #743C7A;
    background-color: #FAF7F3;
  }
  .sidenav a.active:hover {
    background-color: #FAF7F3;
  }
  /* Style page content */
  .main {
    margin-left: 25%;
    /* Same as the width of the sidebar */
  }
  .blog {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    overflow: auto;
    padding: 10px;
    margin-bottom: 50px;
  }
  .blog-post {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
  }
  .blog-post img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
  }
  .blog-post .title {
    margin-left: 10px;
    font-weight: 500;
    color: #8C8F9C;
    text-transform: capitalize;
  }
  .blog-post .title a {
    font-weight: 400;
    font-size: .9em;
    color: #8C8F9C;
    text-transform: capitalize;
    text-decoration: none;
  }
  .blog-post .title a:hover {
    text-decoration: underline;
  }
  .column {
    display: block;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-top: 70px;
  }
  .column .row {
    position: relative;
    margin-top: -20px;
  }
  .column a {
    text-decoration: none;
    color: #8C8F9C;
    font-size: .7em;
  }
  .column a:hover {
    text-decoration: underline;
  }
  .tips {
    font-size: .8em;
    font-weight: 500;
    padding-top: 10px;
  }
  .announcement {
    display: relative;
    background-color: white;
    border-radius: 10px;
  }
  .about {
    display: relative;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .main {
    min-height: 1000px;
    overflow: auto;
    padding-right: 0;
    margin-right: 0;
  }
  .main .title {
    font-weight: 600;
  }
  hr {
    margin-top: -10px;
    border: 1px solid #E7E3DF;
  }
  a.read-more {
    position: relative;
    display: block;
    bottom: 0;
    right: 10px;
    text-align: right;
  }
  a.read-more:hover {
    text-decoration: none;
    color: #743C7A;
  }
  .mini-icon-sdg {
    position: relative;
    z-index: 9;
    display: block;
    width: 40px;
    top: 0;
    right: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-top: -55px;
  }
  .onclickshow {
    display: none;
    position: fixed;
    z-index: -999;
    left: 230px;
    top: 10px;
    background-color: white;
    color: #424761;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
  }
  .hidden {
    display: block;
  }
  #beranda {
    margin-right: 70px;
  }
  .sdg-logo {
    width: 200px;
  }
  .rows {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
  .hidden-tentang,
  .hidden-misi {
    display: none;
  }
  .bottom {
    position: absolute;
    display: block;
    bottom: 5px;
  }
  .image-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }
  .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .author .author-name {
    font-size: 1.2em;
    font-weight: 600;
    margin: 3px 10px;
  }
  .author .author-image-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
  .author .author-image-wrapper img {
    width: 40px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .first-letter {
    font-size: 4em;
    font-weight: bold;
  }
  .main {
    width: 70%;
    height: auto;
  }
  .activesss {
    font-weight: bold;
    color: #F2EFEB;
    background-color: #743C7A;
    border-radius: 10px;
  }
  .activesss .title a {
    color: #F2EFEB;
  }
  .activesss img {
    border: 2px solid #F2EFEB;
  }
  .blog-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 500px;
  }
  .blog-container .blog-row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 10px 0;
  }
  .blog-container .blog-row .blogs-item {
    position: relative;
    width: 25%;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
  }
  .blog-container .blog-row .blogs-item .image-item-wrapper {
    width: 100%;
    overflow: hidden;
    height: 190px;
    border-radius: 6px;
  }
  .blog-container .blog-row .blogs-item img {
    width: 100%;
  }
  .blog-container .blog-row .blogs-item a {
    color: #743C7A;
    font-weight: 600;
  }
  .blog-container-index {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 500px;
  }
  .blog-container-index .blog-row-index {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 5px 0;
  }
  .blog-container-index .blog-row-index .blogs-item {
    position: relative;
    width: 25%;
    overflow: hidden;
    background-color: #F2EFEB;
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
  }
  .blog-container-index .blog-row-index .blogs-item .image-item-wrapper {
    width: 100%;
    overflow: hidden;
    height: 190px;
    border-radius: 6px;
  }
  .blog-container-index .blog-row-index .blogs-item img {
    width: 100%;
    min-height: 200px;
  }
  .blog-container-index .blog-row-index .blogs-item a {
    color: #743C7A;
    font-weight: 600;
  }
}

.blacks {
  color: #424761;
}

.greys {
  color: #8C8F9C;
}

.whites {
  color: #F2EFEB;
}

.purples {
  color: #743C7A;
}
/*# sourceMappingURL=style.css.map */