* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blacks : #424761;
$whites : #F2EFEB;
$purples : #743C7A;
$greys : #8C8F9C;
$hr-line : #E7E3DF;

.blacks {
  color: $blacks;
}

.greys {
  color: $greys;
}

.whites {
  color: $whites;
}

.purples {
  color: $purples;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $whites;
}

.navbar-lg-hidden {
  display: flex;
  flex-direction: row;
  padding-top: 10px;

  button {
    width: 50px;
    border: none;
    margin-left: 15px;
    border-radius: 5px;

    &:hover {
      background-color: white;
    }
  }

  img {
    width: 250px;
    margin-left: 50px;
  }


}

.onclickshow {
  display: none;
  position: fixed;
  z-index: 999;
  left: 230px;
  top: 10px;
  background-color: white;
  color: $blacks;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.logo {
  display: block;
  width: 170px;
  padding-bottom: 20px;
  margin-left: 10px;
}

.sidenav {
  width: 45%;
  height: 100%;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $whites;
  overflow-x: hidden;
  padding: 10px;
  display: none;

}

/* The navigation menu links */
.sidenav a.special {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2em;
  color: $blacks;
  display: block;
  border-radius: 10px;
  font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a.special:hover {
  color: $purples;
  background-color: #FAF7F3;


}

.sidenav a.active {
  color: $purples;
  background-color: #FAF7F3;
}

.main {
  // margin-left: 10px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.blog {
  display: block;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.blog-post {
  display: inline-flex;
  flex-direction: row;
  padding: 5px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
  }

  .title {

    margin-left: 10px;
    font-weight: 500;
    color: $greys;
    text-transform: capitalize;

    a {
      font-weight: 400;
      font-size: .8em;
      color: $greys;
      text-transform: capitalize;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.column {
  display: block;
  width: 100%;
  position: relative;
  padding: 20px;
  margin-top: 70px;

  .row {
    position: relative;
    margin-top: -20px;
  }

  a {
    text-decoration: none;
    color: $greys;
    font-size: .7em;

    &:hover {
      text-decoration: underline;
    }
  }

}

.tips {
  font-size: .8em;
  font-weight: 500;
  padding-top: 10px;
}

.announcement {
  background-color: white;
  border-radius: 10px;

}

.about {
  background-color: white;
  border-radius: 10px;

}

.main {
  min-height: 1000px;
  overflow: auto;
  padding-right: 0;
  margin-right: 0;

  .title {
    font-weight: 600;
  }
}

hr {
  margin-top: -10px;
  border: 1px solid $hr-line;
}

a.read-more {
  position: relative;
  display: block;
  bottom: 0;
  right: 10px;
  text-align: right;

  &:hover {
    text-decoration: none;
    color: $purples;
  }

}

.mini-icon-sdg {
  position: relative;
  z-index: 9;
  display: block;
  width: 40px;
  top: 0;
  right: 0;
  border-radius: 10px;
  margin-left: auto;
  margin-top: -55px;

}

.hidden {
  display: none;
}

.rows {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  margin: 1px;
}

.btn-purples {
  background-color: $purples;

  &:hover {
    background-color: $greys;
  }
}

.hidden-tentang,
.hidden-misi {
  display: none;
}

.read-more {
  cursor: pointer;
}

.hidden-img {
  width: 100%;
  display: none;
}

.bottom {
  position: absolute;
  display: block;
  bottom: 5px;
}
.blog-headline{
  font-weight: 600;
}
.image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  img{
    width: 100%;
  }
}
.main h2{
  font-size: 3em;
  text-align: left;
}
.author {
  display: flex;
  position: relative;

  .author-name {
    font-size: 1.2em;
    font-weight: 600;
    margin: 3px 10px;
  }

  .author-image-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 40px;
      filter: grayscale(100%);
    }
  }
}
.first-letter {
  font-size: 2em;
  font-weight: bold;
}
.blogxx p{
  text-indent: 17px;
}
.main {
  width: 100%;
  height: auto;
}



























@media (min-width: 768px) {
  .navbar-lg-hidden {
    display: none;
  }

  /* The sidebar menu */
  .logo {
    display: block;
    width: 200px;
    padding-bottom: 20px;
  }

  .sidenav {
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $whites;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 80px;
    display: block;

  }

  /* The navigation menu links */
  .sidenav a.special {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2em;
    color: $blacks;
    display: block;
    border-radius: 30px;
    font-weight: 600;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a.special:hover {
    color: $purples;
    background-color: #faf7f37e;


  }

  .sidenav a.active {
    color: $purples;
    background-color: #FAF7F3;

    &:hover {
      background-color: #FAF7F3;

    }
  }

  /* Style page content */
  .main {
    margin-left: 25%;

    /* Same as the width of the sidebar */
  }

  .blog {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    overflow: auto;
    padding: 10px;
    margin-bottom: 50px;
  }

  .blog-post {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-top: 5px;
    }

    .title {

      margin-left: 10px;
      font-weight: 500;
      color: $greys;
      text-transform: capitalize;

      a {
        font-weight: 400;
        font-size: .9em;
        color: $greys;
        text-transform: capitalize;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .column {
    display: block;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-top: 70px;

    .row {
      position: relative;
      margin-top: -20px;
    }

    a {
      text-decoration: none;
      color: $greys;
      font-size: .7em;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .tips {
    font-size: .8em;
    font-weight: 500;
    padding-top: 10px;
  }

  .announcement {
    display: relative;
    background-color: white;
    border-radius: 10px;

  }

  .about {
    display: relative;
    width: 100%;
    background-color: white;
    border-radius: 10px;

  }

  .main {
    min-height: 1000px;
    overflow: auto;
    padding-right: 0;
    margin-right: 0;

    .title {
      font-weight: 600;
    }
  }

  hr {
    margin-top: -10px;
    border: 1px solid $hr-line;
  }

  a.read-more {
    position: relative;
    display: block;
    bottom: 0;
    right: 10px;
    text-align: right;

    &:hover {
      text-decoration: none;
      color: $purples;
    }
  }

  .mini-icon-sdg {
    position: relative;
    z-index: 9;
    display: block;
    width: 40px;
    top: 0;
    right: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-top: -55px;

  }

  .onclickshow {
    display: none;
    position: fixed;
    z-index: -999;
    left: 230px;
    top: 10px;
    background-color: white;
    color: $blacks;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
  }

  .hidden {
    display: block;
  }

  #beranda {
    margin-right: 70px;
  }

  .sdg-logo {
    width: 200px;
  }

  .rows {
    position: relative;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
  }

  .card {
    display: flex;
    margin: 0px;
  }

  .hidden-tentang,
  .hidden-misi {
    display: none;
  }

  .bottom {
    position: absolute;
    display: block;
    bottom: 5px;
  }
  .image-wrapper{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }
  .author{
    display: flex;
    position: relative;
    .author-name{
      font-size: 1.2em;
      font-weight: 600;
      margin: 3px 10px;
    }
    .author-image-wrapper{
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      img{
        width: 40px;
        filter: grayscale(100%);
      }
    }
  }
  .first-letter{
    font-size: 4em;
    font-weight: bold;
  }
  .main{
    width: 70%;
    height: auto;
  }
}